<?xml version='1.0' encoding='utf-8'?>
<widget id="com." version="1.4.2" versionCode="18" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Some Name</name>
    <description>Authentic and Specialized Solution by Local Experts</description>
    <author email="alex@SomeName.com" href="http://www.SomeName.com">Alex Lastname</author>
    <preference name="permissions" value="none" />
    <access origin="*" />
    <allow-intent href="*" />
    <allow-navigation href="[http://*/*]http://*/*" />
    <allow-navigation href="[https://*/*]https://*/*" />
    <allow-navigation href="http://mobileapi.SomeName.com/*" />
    <allow-navigation href="data:*" />
    <preference name="android-minSdkVersion" value="17" />
    <preference name="android-targetSdkVersion" value="23" />
    <preference name="android-build-tool" value="gradle" />
    <gap:plugin name="cordova-plugin-geolocation" source="npm" />
    <gap:plugin name="com.paypal.cordova.mobilesdk" source="npm" />
    <plugin name="cordova-plugin-whitelist" />
    <plugin name="cordova-plugin-camera" source="pgb" />
    <plugin name="cordova-plugin-media-capture" source="pgb" />
    <plugin name="cordova-plugin-file" source="pgb" />
    <plugin name="cordova-plugin-file-transfer" source="pgb" />
    <plugin name="cordova-plugin-console" source="pgb" />
    <gap:plugin name="phonegap-plugin-barcodescanner" source="npm" />
    <icon src="icon.png" />
    <platform name="ios">
        <icon height="57" src="foodie-logo_57x57.png" width="57" />
        <icon height="1024" src="foodie-logo_1024x1024.png" width="1024" />
    </platform>
    <platform name="android" />
    <platform name="winphone" />
    <engine name="android" spec="~5.1.1" />
</widget>
